@import 'Partials/common';
@import 'Partials/header';
@import 'Partials/navbar';
@import 'Partials/main';
@import 'Partials/footer';
@import 'Partials/variables';

/* BACKGROUND COLORS LANDING PAGE */

$header_background_color: #FFFFFF;

$main_section_one_two_seven: #FFE7D2;

$footer_background_color: #FFFFFF;
